<div class="main">
  <div class="pokemon-detail">
    <ng-container *ngIf="visiblePokemon | async as pokemon">
      <div class="margin">
        <div class="poke-info col-12">
          <h2 class="poke-name">{{ pokemon.name | titlecase }}</h2>
          <p class="poke-id">N.º {{ pokemon.id }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img
            [src]="
              'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/' +
              pokemon.id +
              '.png'
            "
            alt="Pokemon sprite"
            class="poke-image"
          />
        </div>
        <div class="col-md-8"></div>
      </div>
      <div class="row evolutions">
        <h3 class="evolutions-title">Evoluciones</h3>
        <div
          class="col-md-4 justify-content-center"
          *ngFor="
            let pokemon of pokemon.pokemon_v2_evolutionchain
              ?.pokemon_v2_pokemonspecies
          "
        >
          <a routerLink="/pokedex/pokemon/{{ pokemon.id }}">
            <img
              [src]="
                'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/' +
                pokemon.id +
                '.png'
              "
              alt="{{ pokemon.name }} sprite"
              class="poke-img-evo"
            />
            <div class="evo-info">
              <p>{{ pokemon.name | titlecase }} -</p>
              <p>- {{ pokemon.id }}</p>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button class="return-button" routerLink="/pokedex">
            Ir a la Pokédex
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
