<div class="carousel-overflow">
  <div class="carousel-container">
    <div class="carousel-header">
      <span class="pokeball-icon">
        <img src="assets/icons/pokeball-icon.png" alt=""
      /></span>
      Featured Pokemon
    </div>
    <div class="carousel-main">
      <div
        *ngFor="let pokemon of allPokemons; let i = index"
        [ngClass]="{ activeElement: i == active }"
      >
        <div class="pokemon-card">
          <img
            class="pokeimg"
            [src]="
              'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/' +
              pokemon.id +
              '.png'
            "
            alt="Pokemon sprite"
          />
          <div class="idBack">{{ pokemon.id }}</div>
        </div>
        <div class="description">
          <div class="mainInfo">
            <div class="pokename">{{ pokemon.name | titlecase }}</div>
            <div class="pokeid">
              {{ pokemon.id }}
            </div>
          </div>
          <div class="onlyVisible" [ngClass]="{ showing: i == active }">
            <table>
              <tr>
                <td>Type</td>
                <td>
                  {{
                    pokemon.pokemon_v2_pokemontypes[0].pokemon_v2_type.name
                      | titlecase
                  }}
                </td>
              </tr>
              <tr>
                <td>Ability</td>
                <td>
                  {{
                    pokemon.pokemon_v2_pokemonabilities[0].pokemon_v2_ability
                      .name | titlecase
                  }}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <a class="carousel-control-prev" (click)="prev()">
        <span class="prev-controller"></span>
      </a>
      <a class="carousel-control-next" (click)="next()">
        <span class="next-controller"></span>
      </a>
    </div>
  </div>
</div>
