<div class="background">
  <div class="container">
    <div class="done">Gotcha!</div>
    <div class="red">
      <div class="circle">
        <div class="squareC2"></div>
      </div>
    </div>
    <div class="pokemon">
      <div class="top">
        <div class="middle"></div>
      </div>
      <div class="square square1"></div>
      <div class="square square2"></div>
      <div class="square square3"></div>
      <div class="eye eye-left">
        <div class="fix2 f"></div>
        <div class="pupil"></div>
      </div>
      <div class="sleep-eye sleep-eye-left"></div>
      <div class="sleep-eye sleep-eye-right"></div>
      <div class="eye eye-right">
        <div class="fix f"></div>
        <div class="pupil2"></div>
      </div>
      <div class="nose"></div>
      <div class="mouth">
        <div class="teeth"></div>
        <div class="tongue"></div>
      </div>
    </div>
    <p>Email</p>
    <input
      type="text"
      class="email input"
      placeholder="example@something.com"
    />
    <p class="pass-text">Password</p>
    <div class="show">
      <input class="show" onclick="show()" type="checkbox" /><span>Show</span>
    </div>
    <input type="password" class="pass input" id="pass" />
    <div class="button">Log In</div>
  </div>
  <div class="leafs">
    <div class="leaf leaf1"></div>
    <div class="leaf leaf2"></div>
    <div class="leaf leaf3"></div>

    <div class="leaf leaf4"></div>
    <div class="leaf leaf5"></div>
    <div class="leaf leaf6"></div>
  </div>
</div>
